<h1>Welcome to the {{event_name}}!</h1>

  <p>Hi {{student_name}}!</p>

  <p>Choose which course to enroll:</p>

  <ul>
    {{#each courses}}
      <li>
        {{this}} <button onclick="enroll('{{this}}')">Enroll</button>
      </li>
    {{/each}}
  </ul>

  <p class="signature">
    Signed,<br>
    {{uni_name}} 🦄
  </p>

  <script>
    function enroll(courseName) {
      alert(`You have enrolled in ${courseName}!`);
    }
  </script>
</body>
</html>
