{{!-- Layout: main.handlebars --}}
<header>
  <h1>Welcome to {{title}}</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/dashboard">Dashboard</a>
  </nav>
</header>
<main>
  <section>
    <h2>{{mainHeading}}</h2>
    <p>{{mainDescription}}</p>
    <a href="/dashboard">My Enrolled Courses</a>

  </section>

  <!-- New Release Section -->
  <section>
      <h2>{{newReleaseTitle}}</h2>
      <p>{{newReleaseDescription}}</p>
  </section>

</main>
<footer>
  <p>&copy; 2025 {{title}}. All rights reserved.</p>
</footer>


